<h2 class="card-title text-2xl font-bold mb-6">
  {{ "login.login" | translate }}
</h2>
<form>
  <div class="form-control">
    <label class="label">
      <span class="label-text">{{ "login.email" | translate }}</span>
    </label>
    <input
      type="email"
      [placeholder]="'login.emailPlaceholder' | translate"
      class="input input-bordered"
    />
  </div>
  <div class="form-control mt-4">
    <label class="label">
      <span class="label-text">{{ "login.password" | translate }}</span>
    </label>
    <input
      type="password"
      [placeholder]="'login.passwordPlaceholder' | translate"
      class="input input-bordered"
    />
    <label class="label">
      <a href="#" class="label-text-alt link link-primary link-hover">{{
        "login.forgotPassword" | translate
      }}</a>
    </label>
  </div>
  <div class="form-control mt-6">
    <button class="btn btn-primary">
      {{ "login.login" | translate }}
    </button>
  </div>
</form>
<!-- <div class="divider">{{ "login.or" | translate }}</div>
<div class="text-center">
  <p>{{ "login.dontHaveAccount" | translate }}</p>
  <button (click)="onSignUpClick()" class="link link-primary">
    {{ "login.signUpNow" | translate }}
  </button>
</div> -->
