<app-authentication-layout>
  <div content class="w-full">
    <h1 class="text-2xl font-bold mt-4 mb-2">
      {{ "authentication.sign-up-to-fitforge" | translate }}
    </h1>
    <p class="text-gray-400 mb-4">
      {{ "authentication.sign-up-social-account-or-details" | translate }}
    </p>
    <div
      class="flex gap-2 w-full mb-4"
      style="color-scheme: normal"
      #googleLoginButton
    ></div>

    <form class="w-full max-w-md">
      <div class="form-control mb-4">
        <label class="label font-medium">
          <span class="label-text">{{
            "authentication.full-name" | translate
          }}</span>
        </label>
        <input
          type="text"
          placeholder="{{ 'authentication.full-name-placeholder' | translate }}"
          class="input input-bordered w-full"
        />
      </div>
      <div class="form-control mb-4">
        <label class="label font-medium">
          <span class="label-text">{{
            "authentication.email" | translate
          }}</span>
        </label>
        <input
          type="email"
          placeholder="{{ 'authentication.email-placeholder' | translate }}"
          class="input input-bordered w-full"
        />
      </div>

      <div class="form-control mb-4">
        <label class="label font-medium">
          <span class="label-text">{{
            "authentication.password" | translate
          }}</span>
        </label>
        <div class="relative">
          <input
            [type]="isPasswordVisible ? 'text' : 'password'"
            [value]="password"
            (input)="onPasswordInput($event)"
            placeholder="{{
              'authentication.password-placeholder' | translate
            }}"
            class="input input-bordered w-full"
          />
          <button
            type="button"
            (click)="togglePasswordVisibility()"
            class="absolute top-1/2 right-3 transform -translate-y-1/2 btn btn-ghost btn-sm"
          >
            <fa-icon [icon]="isPasswordVisible ? faEye : faEyeSlash"></fa-icon>
          </button>
        </div>
      </div>

      <button type="button" class="btn btn-primary w-full mb-4">
        <span class="flex items-center justify-center text-white">
          <fa-icon [icon]="faUser" class="mr-2"></fa-icon>
          {{ "authentication.sign-up" | translate }}
        </span>
      </button>

      <p class="mb-4 text-gray-400">
        {{ "authentication.confirm-email" | translate }}
        <a class="link link-accent no-underline">{{
          "authentication.terms-of-service" | translate
        }}</a>

        {{ "authentication.read-understood" | translate }}
        <a class="link link-accent no-underline">{{
          "authentication.privacy-policy" | translate
        }}</a>
      </p>

      <p class="text-gray-400">
        {{ "authentication.already-have-account" | translate }}
        <a
          routerLink="/authentication"
          class="link link-primary no-underline"
          >{{ "authentication.sign-in" | translate }}</a
        >
      </p>
    </form>
  </div>
</app-authentication-layout>
