<app-authentication-layout>
  <div content class="w-full">
    <h1 class="text-2xl font-bold mt-4 mb-2">
      {{ "authentication.sign-up-to-fitforge" | translate }}
    </h1>
    <p class="text-gray-400 mb-4">
      {{ "authentication.sign-up-social-account-or-details" | translate }}
    </p>
    <div
      class="flex gap-2 w-full mb-4"
      style="color-scheme: normal"
      #googleLoginButton
    ></div>

    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="w-full max-w-md grid gap-4"
    >
      <app-input-text
        formControlName="name"
        label="{{ 'authentication.full-name' | translate }}"
        [icon]="faUser"
      ></app-input-text>
      <app-input-text
        formControlName="email"
        label="{{ 'authentication.email' | translate }}"
        [icon]="faEnvelope"
      ></app-input-text>
      <app-input-text
        formControlName="password"
        label="{{ 'authentication.password' | translate }}"
        [icon]="faKey"
        type="password"
      ></app-input-text>

      <button
        type="submit"
        class="btn btn-success w-full"
        [disabled]="registerForm.invalid"
      >
        <span class="flex items-center justify-center text-white">
          <fa-icon [icon]="faUser" class="mr-2"></fa-icon>
          {{ "authentication.sign-up" | translate }}
        </span>
      </button>

      <p class="text-gray-400">
        {{ "authentication.confirm-email" | translate }}
        <a class="link link-accent no-underline">{{
          "authentication.terms-of-service" | translate
        }}</a>

        {{ "authentication.read-understood" | translate }}
        <a class="link link-accent no-underline">{{
          "authentication.privacy-policy" | translate
        }}</a>
      </p>

      <p class="text-gray-400">
        {{ "authentication.already-have-account" | translate }}
        <a
          routerLink="/authentication"
          class="link link-primary no-underline"
          >{{ "authentication.sign-in" | translate }}</a
        >
      </p>
    </form>
  </div>
</app-authentication-layout>
