<app-page-layout>
  <app-page-header
    page-header
    pageTitle="{{ pageTitle | translate }}"
    [breadcrumb]="breadcrumb"
  ></app-page-header>

  <div raw-content>
    <app-workout-info
      [title]="pageTitle"
      [form]="formInfo"
      [hidden]="currentTab != 1"
    ></app-workout-info>
    <app-workout-weeks [hidden]="currentTab != 2"></app-workout-weeks>

    <div class="flex justify-between">
      <button
        class="btn btn-soft btn-neutral"
        [disabled]="currentTab == 1"
        (click)="changeTab(currentTab - 1)"
      >
        <fa-icon [icon]="faAngleLeft"></fa-icon>
        {{ "workout-plan.back" | translate }}
      </button>
      <button
        class="btn btn-soft btn-success"
        (click)="changeTab(currentTab + 1)"
        [disabled]="formInfo.invalid || currentTab == 3"
      >
        {{ "workout-plan.next" | translate }}
        <fa-icon [icon]="faAngleRight"></fa-icon>
      </button>
    </div>
  </div>
</app-page-layout>
