<app-page-layout>
  <app-page-header
    page-header
    pageTitle="{{ pageTitle | translate }}"
    [breadcrumb]="breadcrumb"
  ></app-page-header>

  <div content>
    <div role="tablist" class="tabs tabs-lift">
      <input
        type="radio"
        name="my_tabs_1"
        role="tab"
        class="tab"
        [attr.aria-label]="'workout-plan.plan-info' | translate"
        [checked]="currentTab == 1"
      />
      <div class="tab-content border-base-300 p-4">
        <app-workout-info [title]="pageTitle"></app-workout-info>
      </div>

      <input
        type="radio"
        name="my_tabs_1"
        role="tab"
        class="tab"
        [attr.aria-label]="'workout-plan.workout-details' | translate"
        [checked]="currentTab == 2"
      />
      <div class="tab-content border-base-300 p-4"></div>

      <input
        type="radio"
        name="my_tabs_1"
        role="tab"
        class="tab"
        [attr.aria-label]="'workout-plan.review' | translate"
        [checked]="currentTab == 3"
      />
      <div class="tab-content border-base-300 p-4"></div>
    </div>
  </div>
</app-page-layout>
