<div
  class="card md:card-side shadow-xl h-full py-10 px-5 sm:px-10 lg:py-20 xl:px-64 2xl:px-96"
>
  <figure class="w-full sm:w-2/3 lg:w-1/2 xl:w-5/12">
    <img
      src="assets/images/login/image-{{ index }}.jpg"
      alt="Random image"
      class="object-cover w-full h-full filter brightness-75 contrast-90"
    />
  </figure>
  <div class="card-body w-full sm:w-2/3 lg:w-1/2 xl:w-7/12">
    <img
      src="assets/images/logo/logo.png"
      alt="Logo"
      class="w-32 sm:w-40 lg:w-48"
    />

    <div [ngSwitch]="step">
      <div *ngSwitchCase="'login'">
        <app-login-form (signUp)="changeStep($event)"></app-login-form>
      </div>
      <div *ngSwitchCase="'register'">
        <app-register-form (login)="changeStep($event)"></app-register-form>
      </div>
    </div>
  </div>
</div>
