<div class="card lg:card-side shadow-xl h-full">
  <figure class="lg:w-1/2">
    <img
      src="https://picsum.photos/seed/login/800/600"
      alt="Random image"
      class="object-cover w-full h-full"
    />
  </figure>
  <div class="card-body lg:w-1/2">
    <div [ngSwitch]="step">
      <div *ngSwitchCase="'login'">
        <app-login-form (signUp)="changeStep($event)"></app-login-form>
      </div>
      <div *ngSwitchCase="'register'">
        <app-register-form (login)="changeStep($event)"></app-register-form>
      </div>
    </div>
  </div>
</div>
