<div class="card md:card-side rounded-none shadow-xl h-full">
  <figure class="lg:w-2/3">
    <img
      src="assets/images/login/image-{{ index }}.jpg"
      alt="Random image"
      class="object-cover w-full h-full"
    />
  </figure>
  <div class="card-body lg:w-1/3 md:mt-24">
    <div [ngSwitch]="step">
      <div *ngSwitchCase="'login'">
        <app-login-form (signUp)="changeStep($event)"></app-login-form>
      </div>
      <div *ngSwitchCase="'register'">
        <app-register-form (login)="changeStep($event)"></app-register-form>
      </div>
    </div>
  </div>
</div>
