<p class="text-xl font-bold">
  {{ title | translate }}
</p>

<p class="text-gray-400">
  {{ "workout-plan.plan-info-description" | translate }}
</p>

<form [formGroup]="form" class="grid gap-4 py-6">
  <app-input-text
    formControlName="title"
    label="{{ 'workout-plan.plan-title' | translate }}"
    [icon]="faSignature"
    class="col-span-12 md:col-span-6"
  ></app-input-text>

  <app-input-text
    formControlName="planWeeks"
    label="{{ 'workout-plan.plan-weeks' | translate }}"
    [icon]="faCalendarWeek"
    class="col-span-12 md:col-span-6"
    type="number"
    step="1"
    pattern="^[0-9]{1,2}$"
  ></app-input-text>

  <app-input-text
    formControlName="description"
    label="{{ 'workout-plan.plan-description' | translate }}"
    [icon]="faCircleInfo"
    class="col-span-12"
    type="text"
    [isTextArea]="true"
  ></app-input-text>

  <div class="col-span-12 flex items-center gap-4">
    <div>
      <h4>{{ "workout-plan.thumbnail" | translate }}</h4>
      <p class="text-gray-400">
        {{ "workout-plan.thumbnail-description" | translate }}
      </p>
    </div>
    <app-input-image formControlName="thumbnail"></app-input-image>
  </div>

  <div class="col-span-12">
    <h4>{{ "workout-plan.plan-goals" | translate }}</h4>
    <div class="join pt-2">
      <div
        *ngFor="let goalBadge of goalBadges"
        class="btn join-item"
        [ngClass]="{
          'btn-dash btn-neutral': !isGoalSelected(goalBadge.id),
          'btn-primary': isGoalSelected(goalBadge.id)
        }"
        (click)="toggleGoal(goalBadge.id)"
      >
        {{ goalBadge.label | translate }}
      </div>
    </div>
  </div>

  <div class="col-span-12">
    <h4>{{ "workout-plan.difficulty-levels" | translate }}</h4>
    <div class="join pt-2">
      <div
        *ngFor="let difficultyBadge of difficultyBadges"
        class="btn join-item"
        [ngClass]="{
          'btn-dash btn-neutral': !isDifficultySelected(difficultyBadge.id),
          'btn-primary': isDifficultySelected(difficultyBadge.id)
        }"
        (click)="toggleDifficulty(difficultyBadge.id)"
      >
        {{ difficultyBadge.label | translate }}
      </div>
    </div>
  </div>
</form>

<button
  class="btn btn-success text-white float-end"
  (click)="onSubmit()"
  [disabled]="form.invalid"
>
  {{ "workout-plan.next" | translate }}
  <fa-icon [icon]="faAngleRight"></fa-icon>
</button>
