<app-page-layout>
  <app-page-header
    page-header
    pageTitle="{{ 'settings.account-settings' | translate }}"
    [breadcrumb]="breadcrumb"
  ></app-page-header>

  <div content>
    <div role="tablist" class="tabs tabs-lift">
      <input
        type="radio"
        name="my_tabs_1"
        role="tab"
        class="tab"
        [attr.aria-label]="'settings.account-settings' | translate"
        [checked]="currentTab == 1"
      />
      <div class="tab-content border-base-300 p-4">
        <app-account-settings></app-account-settings>
      </div>

      <input
        *ngIf="!localStorageService.isSocialAccountLogin()"
        type="radio"
        name="my_tabs_1"
        role="tab"
        class="tab"
        [attr.aria-label]="'settings.change-password' | translate"
        [checked]="currentTab == 2"
      />
      <div class="tab-content border-base-300 p-4">
        <app-change-password></app-change-password>
      </div>

      <input
        type="radio"
        name="my_tabs_1"
        role="tab"
        class="tab"
        [attr.aria-label]="'settings.privacy-policy' | translate"
        [checked]="currentTab == 3"
      />
      <div class="tab-content border-base-300 p-4">
        <app-privacy-policy></app-privacy-policy>
      </div>

      <input
        type="radio"
        name="my_tabs_1"
        role="tab"
        class="tab"
        [attr.aria-label]="'settings.terms-conditions' | translate"
        [checked]="currentTab == 4"
      />
      <div class="tab-content border-base-300 p-4">
        <app-terms-conditions></app-terms-conditions>
      </div>
    </div>
  </div>
</app-page-layout>
