<div class="banner-area py-12">
  <div class="container relative z-10 mx-auto">
    <div class="banner-content text-center mx-auto max-w-4xl">
      <h1 class="text-5xl font-bold text-gray-800 mb-4">
        Treinos Sob Medida: Crie Seus Treinos ou Contrate Consultoria Fitness
      </h1>
      <p class="text-lg text-gray-600 mb-6">
        Nossa interface intuitiva transforma sua jornada fitness. Crie treinos
        personalizados ou receba orientação de especialistas para alcançar seus
        objetivos com confiança.
      </p>
      <a
        routerLink="/authentication"
        class="btn-box bg-primary inline-block font-medium rounded-lg text-white px-6 py-3"
      >
        <span class="relative inline-flex items-center gap-2">
          <fa-icon [icon]="faUser"></fa-icon>
          Comece agora - É grátis
        </span>
      </a>
    </div>
    <div class="banner-image text-center mt-8 filter brightness-75 contrast-90">
      <img
        src="assets/images/login/image-1.jpg"
        alt="dashboard-image"
        class="mx-auto rounded-lg shadow-lg"
      />
    </div>
  </div>
</div>
