<app-authentication-layout>
  <div content>
    <h1 class="text-2xl font-bold mt-4 mb-2 w-md">
      {{ "authentication.welcome-back" | translate }}
    </h1>
    <p class="text-gray-400 mb-4">
      {{ "authentication.sign-in-social-account-or-details" | translate }}
    </p>
    <div
      class="flex gap-2 w-full mb-4"
      style="color-scheme: normal"
      #googleLoginButton
    ></div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="grid gap-4">
      <app-input-text
        formControlName="email"
        label="{{ 'authentication.email' | translate }}"
        [icon]="faEnvelope"
      ></app-input-text>

      <app-input-text
        formControlName="password"
        label="{{ 'authentication.password' | translate }}"
        [icon]="faKey"
        type="password"
      ></app-input-text>

      <div class="flex justify-between items-center">
        <a
          routerLink="/authentication/forgot-password"
          class="link link-primary no-underline"
        >
          {{ "authentication.forgot-password" | translate }}
        </a>
      </div>

      <button
        type="submit"
        [disabled]="loginForm.invalid"
        class="btn btn-primary w-full"
      >
        <span class="flex items-center justify-center text-white">
          <fa-icon [icon]="faRightToBracket" class="mr-2"></fa-icon>
          {{ "authentication.sign-in" | translate }}
        </span>
      </button>

      <p class="text-gray-400">
        {{ "authentication.dont-have-account" | translate }}
        <a
          routerLink="/authentication/sign-up"
          class="link link-primary no-underline"
        >
          {{ "authentication.sign-up" | translate }}
        </a>
      </p>
    </form>
  </div>
</app-authentication-layout>
