<div class="divider !m-0"></div>
<div class="grid-container pb-4">
  <ag-grid-angular
    class="h-full"
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)"
    [domLayout]="'autoHeight'"
    [fullWidthCellRenderer]="WorkoutSetTableComponent"
    [isFullWidthRow]="isFullWidthRow"
    #grid
  >
  </ag-grid-angular>

  <button
    class="btn btn-secondary btn-soft rounded-2xl w-full my-2"
    (click)="addExercise()"
  >
    <fa-icon [icon]="faPlus"></fa-icon>
    {{ "workout-plan.add-exercise" | translate }}
  </button>
</div>
