<div class="divider !m-0"></div>
<div>
  <table class="table table-xs md:table-md">
    <thead>
      <tr>
        <th>#</th>
        <th>Exercise</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Intesity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>Squat (Barbell)</td>
        <td>3</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <th>2</th>
        <td>Squat (Barbell)</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <th>3</th>
        <td>Behind-The-Neck Press (Smith Machine)</td>
        <td>1</td>
        <td>-</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>
  <button
    class="btn btn-primary btn-outline rounded-2xl w-full my-2"
    (click)="addExercise()"
  >
    <fa-icon [icon]="faPlus"></fa-icon>
    {{ "workout-plan.add-exercise" | translate }}
  </button>
</div>
