<div class="p-4 flex flex-col shadow-xl border rounded h-full">
  <div class="title-wrapper flex flex-nowrap">
    <img
      src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
      class="w-12 h-12 aspect-square mr-3"
    />
    <div class="title flex flex-col">
      <p class="mb-2 font-bold">
        {{ workoutData.title }}
        <span
          class="px-1 py-0.5 rounded bg-secondary/[0.2] text-secondary text-xs"
        >
          {{ statusLabel }}
        </span>
      </p>

      <p class="text-sm text-gray-500">{{ workoutData.author }}</p>
    </div>
  </div>
  <div class="tags-wrapper flex gap-3 pt-1">
    <p class="px-1 py-0.5 rounded bg-primary/[0.2] text-primary text-xs">
      {{ difficultyLabel }}
    </p>

    <p class="px-1 py-0.5 rounded bg-accent/[0.2] text-accent text-xs">
      {{ goalLabel }}
    </p>
  </div>
  <div class="description-wrapper py-1">
    <p
      class="text-gray-500 text-sm leading-relaxed overflow-hidden text-ellipsis line-clamp-5"
    >
      {{ workoutData.description }}
    </p>
  </div>

  <div class="bottom-wrapper flex justify-end">
    <fa-icon [icon]="faEllipsis"></fa-icon>
  </div>
</div>
