<div class="card card-side bg-base-100 shadow-xl rounded-lg max-h-52">
  <figure class="w-1/3">
    <img
      class="rounded-l-lg h-full"
      src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
      alt="Workout"
    />
  </figure>
  <div class="card-body p-4 w-2/3">
    <h2 class="card-title font-semibold mb-1">
      {{ workoutData.title }}
    </h2>
    <p class="text-gray-500 text-sm">
      {{ workoutData.author }}
    </p>
    <p class="text-gray-500 text-base leading-relaxed overflow-hidden">
      {{ workoutData.description }}
    </p>
  </div>
</div>
