<p class="text-xl font-bold">
  {{ "settings.profile" | translate }}
</p>

<p class="text-gray-400">
  {{ "settings.profile-subtitle" | translate }}
</p>

<form [formGroup]="form" class="grid gap-4 py-6">
  <app-input-text
    formControlName="name"
    label="{{ 'settings.full-name' | translate }}"
    [icon]="faUser"
    class="col-span-12 md:col-span-6"
  ></app-input-text>
  <app-input-text
    formControlName="email"
    label="{{ 'settings.email' | translate }}"
    [icon]="faEnvelope"
    class="col-span-12 md:col-span-6"
  ></app-input-text>
  <app-input-text
    formControlName="weight"
    label="{{ 'settings.weight' | translate }}"
    [icon]="faWeightScale"
    class="col-span-12 md:col-span-6"
    type="number"
    unit="kg"
  ></app-input-text>
  <app-input-text
    formControlName="height"
    label="{{ 'settings.height' | translate }}"
    [icon]="faRulerVertial"
    class="col-span-12 md:col-span-6"
    type="number"
    unit="m"
  ></app-input-text>
  <app-input-text
    formControlName="startedAtGym"
    label="{{ 'settings.gym-started-at' | translate }}"
    [icon]="faCalendarDays"
    class="col-span-12 md:col-span-6"
    type="date"
  ></app-input-text>
  <app-input-text
    formControlName="exerciseDuration"
    label="{{ 'settings.gym-duration' | translate }}"
    [icon]="faClock"
    class="col-span-12 md:col-span-6"
    type="time"
  ></app-input-text>
  <app-input-text
    formControlName="goals"
    label="{{ 'settings.goal' | translate }}"
    [icon]="faBullseye"
    class="col-span-12"
    type="text"
    [isTextArea]="true"
  ></app-input-text>
  <div class="col-span-12 flex items-center gap-4">
    <div>
      <h4>{{ "settings.your-photo" | translate }}</h4>
      <p class="text-gray-400">
        {{ "settings.this-will-be-displayed-on-your-profile" | translate }}
      </p>
    </div>
    <app-input-image
      formControlName="avatar"
      [link]="localStorageService.getAvatar()"
    ></app-input-image>
  </div>
</form>

<button class="btn btn-error mr-3 text-white" (click)="loadData()">
  {{ "settings.cancel" | translate }}
</button>
<button class="btn btn-success text-white" (click)="onSubmit()">
  <fa-icon [icon]="faCheck"></fa-icon>
  {{ "settings.upload-profile" | translate }}
</button>
