<ng-container *ngIf="!isTextArea; else textArea">
  <label
    class="floating-label input w-full flex"
    [ngClass]="{
      'input-success': !error && manualTouch,
      'input-error': error
    }"
  >
    <div *ngIf="iconPosition == 'left'">
      <ng-container *ngTemplateOutlet="iconTemplate"></ng-container>
    </div>
    <span class="label-text">
      {{ label }}
      <span *ngIf="required" class="text-error ml-1">*</span>
    </span>

    <input
      #input
      [type]="type"
      [formControl]="$any(formControl)"
      class="input w-full !outline-none"
      (click)="manualTouch = true"
      [pattern]="pattern"
    />
    <div *ngIf="iconPosition == 'right'">
      <ng-container *ngTemplateOutlet="iconTemplate"></ng-container>
    </div>
    <kbd class="kbd" *ngIf="unit">{{ unit }}</kbd>
  </label>

  <small *ngIf="error" class="text-error text-xs mt-1">
    {{ error }}
  </small>
</ng-container>

<ng-template #textArea>
  <label class="floating-label">
    <span class="label-text">
      {{ label }}
      <span *ngIf="required" class="text-error ml-1">*</span>
    </span>

    <textarea
      #input
      [formControl]="$any(formControl)"
      class="textarea textarea-bordered w-full"
      rows="4"
      [ngClass]="{
        'textarea-success': !error && manualTouch,
        'textarea-error': error
      }"
      (click)="manualTouch = true"
    ></textarea>
  </label>

  <small *ngIf="error" class="text-error text-xs mt-1">
    {{ error }}
  </small>
</ng-template>
<ng-template #iconTemplate>
  <fa-icon
    (click)="click()"
    class="text-sm text-gray-400"
    [icon]="icon"
    *ngIf="icon"
  ></fa-icon>
</ng-template>
