<div class="flex justify-center w-full min-h-screen shadow-xl">
  <div class="w-64 shadow-lg rounded-md">
    <ng-container *ngTemplateOutlet="logo"></ng-container>
    <ng-container *ngTemplateOutlet="divider"></ng-container>

    <ul class="menu rounded-box">
      <li *ngFor="let item of menu">
        <div [ngSwitch]="item.subMenu?.length > 0" class="flex justify-between">
          <div *ngSwitchCase="true" class="w-full">
            <ng-container
              *ngTemplateOutlet="menuItem; context: { $implicit: item }"
            ></ng-container>
          </div>
          <div *ngSwitchCase="false" class="w-full">
            <ng-container
              *ngTemplateOutlet="simpleMenuItem; context: { $implicit: item }"
            ></ng-container>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<ng-template #menuItem let-item>
  <li>
    <details [open]="item.open" class="w-full">
      <summary>{{ item.title }}</summary>
      <ul>
        <li *ngFor="let subItem of item.subMenu">
          <ng-container
            *ngIf="subItem.subMenu?.length > 0; else simpleSubMenuItem"
          >
            <ng-container
              *ngTemplateOutlet="menuItem; context: { $implicit: subItem }"
            ></ng-container>
          </ng-container>
          <ng-template #simpleSubMenuItem>
            <ng-container
              *ngTemplateOutlet="
                simpleMenuItem;
                context: { $implicit: subItem }
              "
            ></ng-container
          ></ng-template>
        </li>
      </ul>
    </details>
  </li>
</ng-template>

<ng-template #simpleMenuItem let-item>
  <li>
    <a [routerLink]="item.link" [routerLinkActive]="'active'" class="menu-item">
      <fa-icon
        [icon]="item.icon"
        [class]="item.iconColor"
        *ngIf="item.icon"
      ></fa-icon>
      {{ item.title }}</a
    >
  </li>
</ng-template>

<ng-template #logo>
  <a
    routerLink="/"
    class="logo flex items-center justify-center h-[8%] md:h-[8%] sm:h-[6%] p-4"
  >
    <img src="assets/images/logo/logo.png" alt="logo" class="w-40" />
  </a>
</ng-template>

<ng-template #divider>
  <div class="divider m-0 h-0"></div>
</ng-template>
