<div class="block md:flex justify-between flex-row-reverse">
  <div class="breadcrumbs text-sm flex-wrap">
    <ul class="flex flex-wrap">
      <li class="breadcrumb-item" *ngFor="let item of internBreadcrumb">
        <a
          [routerLink]="item.routerLink"
          class="hover:text-primary font-medium"
          [ngClass]="{ 'opacity-75': !item.routerLink }"
        >
          <fa-icon
            [icon]="item.icon"
            class="text-primary mr-2"
            *ngIf="item.icon"
          ></fa-icon>
          {{ item.name | translate }}
        </a>
      </li>
    </ul>
  </div>

  <h1 class="text-lg font-bold">{{ pageTitle }}</h1>
</div>
