<app-authentication-layout>
  <div content>
    <h1 class="text-2xl font-bold mt-4 mb-2">
      {{ "authentication.welcome-back" | translate }}
    </h1>
    <p class="text-gray-400 mb-4 max-w-md">
      {{ "authentication.type-your-password-to-back" | translate }}
    </p>

    <app-avatar></app-avatar>
    <form class="grid gap-4 mt-4">
      <app-input-text
        formControlName="password"
        label="{{ 'authentication.password' | translate }}"
        [icon]="faKey"
        type="password"
      ></app-input-text>

      <button
        type="button"
        class="btn btn-primary w-full"
        [disabled]="password.length == 0"
        (click)="signIn()"
      >
        <span class="flex items-center justify-center text-white">
          <fa-icon [icon]="faRightToBracket" class="mr-2"></fa-icon>
          {{ "authentication.sign-in" | translate }}
        </span>
      </button>
    </form>
  </div>
</app-authentication-layout>
