<app-authentication-layout>
  <div content>
    <h1 class="text-2xl font-bold mt-4 mb-2">
      {{ "authentication.forgot-password" | translate }}
    </h1>
    <p class="text-gray-400 mb-4 max-w-md">
      {{ "authentication.email-reset-password" | translate }}
    </p>

    <form class="w-full max-w-md w-md">
      <div class="form-control mb-4">
        <label class="label font-medium">
          <span class="label-text">{{
            "authentication.email" | translate
          }}</span>
        </label>
        <input
          type="text"
          placeholder="{{ 'authentication.email-placeholder' | translate }}"
          class="input input-bordered w-full"
        />
      </div>

      <button type="button" class="btn btn-primary w-full mb-4">
        <span class="flex items-center justify-center text-white">
          <fa-icon [icon]="faRightToBracket" class="mr-2"></fa-icon>
          {{ "authentication.send" | translate }}
        </span>
      </button>

      <p class="text-gray-400">
        {{ "authentication.back-to" | translate }}
        <a
          routerLink="/authentication"
          class="link link-primary no-underline"
          >{{ "authentication.sign-in" | translate }}</a
        >
      </p>
    </form>
  </div>
</app-authentication-layout>
