<app-authentication-layout>
  <div content>
    <h1 class="text-2xl font-bold mt-4 mb-2">
      {{ "authentication.forgot-password" | translate }}
    </h1>
    <p class="text-gray-400 mb-4 max-w-md">
      {{ "authentication.email-reset-password" | translate }}
    </p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid gap-4">
      <app-input-text
        formControlName="email"
        label="{{ 'authentication.email' | translate }}"
        [icon]="faEnvelope"
      ></app-input-text>

      <button type="button" class="btn btn-success w-full">
        <span class="flex items-center justify-center text-white">
          <fa-icon [icon]="faRightToBracket" class="mr-2"></fa-icon>
          {{ "authentication.send" | translate }}
        </span>
      </button>

      <p class="text-gray-400">
        {{ "authentication.back-to" | translate }}
        <a
          routerLink="/authentication"
          class="link link-primary no-underline"
          >{{ "authentication.sign-in" | translate }}</a
        >
      </p>
    </form>
  </div>
</app-authentication-layout>
