@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../node_modules/egalink-toasty.js/dist/toasty.min.css";

body {
  font-family: Inter, system-ui, sans-serif;
}

.toast-container {
  z-index: 999999 !important;
}

.required {
  color: red;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
