@import "../node_modules/egalink-toasty.js/dist/toasty.min.css";
@import "tailwindcss";
@plugin "daisyui" {
  themes: emerald, dim;
}

::placeholder {
  @apply text-gray-400;
}

body {
  font-family: Inter, system-ui, sans-serif;
}

.toast-container {
  z-index: 999 !important;
}

#credential_picker_container {
  z-index: 9 !important;
}

.required {
  color: red;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

@media (max-width: 991px) {
  .tabs {
    display: flex;
    flex-wrap: wrap;
  }
}

.join {
  display: inline-flex;
  align-items: stretch;
  flex-wrap: wrap; /* Permite quebra de linha */
  --join-ss: 0;
  --join-se: 0;
  --join-es: 0;
  --join-ee: 0;
}

file-upload {
  min-height: 120px !important;
}

.file-buttons > .remove-btn {
  font-size: 14px !important;
}
.file-buttons > .remove-btn > svg {
  width: 20px !important;
  height: 20px !important;
}

.upload-text {
  width: 100% !important;
  padding: 0 !important;
}
