@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../node_modules/egalink-toasty.js/dist/toasty.min.css";

::placeholder {
  @apply text-gray-400;
}

body {
  font-family: Inter, system-ui, sans-serif;
}

.toast-container {
  z-index: 999 !important;
}

#credential_picker_container {
  z-index: 9 !important;
}

.required {
  color: red;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.tabs {
  display: flex;
  border-bottom-width: 1px;
  @apply border-primary;
}

.tab {
  border-bottom: none !important;
  @apply border-primary !important;

  &.tab-active {
    margin-bottom: -1px !important;
  }

  &::before {
    width: 0 !important;
  }
}

@media (max-width: 991px) {
  .tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

file-upload {
  min-height: 120px !important;
}

.file-buttons > .remove-btn {
  font-size: 14px !important;
}
.file-buttons > .remove-btn > svg {
  width: 20px !important;
  height: 20px !important;
}

.upload-text {
  width: 100% !important;
  padding: 0 !important;
}
