<form [formGroup]="form" class="grid gap-4 py-6">
  <app-input-text
    type="password"
    formControlName="currentPassword"
    label="{{ 'settings.current-password' | translate }}"
    [icon]="faKey"
    class="col-span-12 md:col-span-6"
  ></app-input-text>
  <app-input-text
    type="password"
    formControlName="newPassword"
    label="{{ 'settings.new-password' | translate }}"
    [icon]="faKey"
    class="col-span-12 md:col-span-6"
  ></app-input-text
  ><app-input-text
    type="password"
    formControlName="confirmPassword"
    label="{{ 'settings.confirm-password' | translate }}"
    [icon]="faKey"
    class="col-span-12"
  ></app-input-text>
</form>

<button class="btn btn-primary text-white mr-3" (click)="onSubmit()">
  <fa-icon [icon]="faCheck"></fa-icon>
  {{ "settings.change-password" | translate }}
</button>

<a routerLink="/authentication/forgot-password" class="text-red-500">
  {{ "settings.forgot-password" | translate }}
</a>
